<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @lecture.id %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @lecture.id_user %>
</p>

<p>
  <strong>Id podcast:</strong>
  <%= @lecture.id_podcast %>
</p>

<p>
  <strong>Enlecture:</strong>
  <%= @lecture.enLecture %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
