<p id="notice"><%= notice %></p>

<h1>Comptes</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Psswd</th>
      <th>Id user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comptes.each do |compte| %>
      <tr>
        <td><%= compte.id %></td>
        <td><%= compte.email %></td>
        <td><%= compte.psswd %></td>
        <td><%= compte.id_user %></td>
        <td><%= link_to 'Show', compte %></td>
        <td><%= link_to 'Edit', edit_compte_path(compte) %></td>
        <td><%= link_to 'Destroy', compte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compte', new_compte_path %>
